DISCORD_TOKEN=your_bot_token_here
BUNGIE_API_KEY=your_bungie_api_key_here
GUILD_ID=1113835373857091685
BUNGIE_CLIENT_ID=you_client_id
BUNGIE_CLIENT_SECRET=your_client_secret
OAUTH_PORT=8080
REGISTERED_ROLE_ID=your_role_id_here
REGISTRATION_LOG_CHANNEL_ID=your_channel_id_here
ALLOWED_CLAN_IDS=5150843,4867387
